<div class="container">
  <span>Network Analyzer</span>
  <select style="width: 200px; margin-left: 20px;">
    <option>Roy savransky</option>
    <option>Lidor</option>
    <option>שרית חדד</option>
    <option>redmi</option>
  </select>
<!--  <div>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Toppings</mat-label>-->
<!--      <mat-select [formControl]="toppings" multiple>-->
<!--        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
  <div class="list">
    <app-generic-list [data]="getNetworkInfo('rotem')"></app-generic-list>
  </div>
</div>
