<div class="container">
  <div class="h">
  <div *ngFor="let detail of details" class="{{detail.class}} details"><app-details [data]="detail.data"></app-details></div>
  </div>
  <div class="f">
    <div *ngFor="let dev of developers" class="developer">
      <app-developers-list [developer]="dev"></app-developers-list>
    </div>
<!--    <div style="display: block">-->
<!--      <canvas baseChart-->
<!--              [data]="barChartData"-->
<!--              [options]="barChartOptions"-->
<!--              [plugins]="barChartPlugins"-->
<!--              [type]="barChartType">-->
<!--      </canvas>-->
<!--    </div>-->
  </div>
</div>
