<div class="container">
  <div claas="info">
    <div>
      <i class="fa fa-cogs"></i>
      {{data.name}}
    </div>
    <div>
      <i class="fa fa-wifi"></i>
      {{data.port}}
    </div>
    <div>
      <i class="fa fa-exchange"></i>
      {{data.protocol}}
    </div>
    <div *ngIf="data.state">
      <i class="fa fa-lock"></i>
      {{data.state}}
    </div>
  </div>
  <div *ngIf="data.vulnerabilities">
    <div class="von" *ngFor="let vol of data.vulnerabilities">{{vol.name}}: {{vol.description}}</div>
  </div>

</div>
