.container {
  width: 100%;
  margin: 8px;
  margin-left: 13px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  div {
    width: 100%;
    display: flex;
  }

  .info {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}


.von {
  font-size: 0.8em;
  margin-left: 17px;
}
